/* -------Globals---------- */

$white: #ffffff;
$white_tr: #ffffffe3;
$black: #2c2c2c;
$middle_grey: #c1c1c1;
$light_grey: #efefef;
$red: #b01116;
$gray_tr: #ffffffe1;
$principalFont: "Lato", sans-serif;


*,
*::before,
*::after,
a:focus {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.bold {
  font-weight: bold;
}

.desk_f {
    display: none !important;

    @media screen and (min-width: 768px) {
        display: flex !important;
    }
}

.mob_f {
    display: flex !important;
    padding: 1rem;
    background-color: $white;

    @media screen and (min-width: 768px) {
        display: none !important;
    }
}

body{
	width: 100%;
    background: $white;
    font-family: $principalFont;
    font-size: 1.4rem;
    color: $black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.contenedor {
    width: 100%;
    padding-top: 200px;
    flex: 1;
}
