/* -------Globals---------- */
*,
*::before,
*::after,
a:focus {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.bold {
  font-weight: bold;
}

.desk_f {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .desk_f {
    display: flex !important;
  }
}

.mob_f {
  display: flex !important;
  padding: 1rem;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .mob_f {
    display: none !important;
  }
}

body {
  width: 100%;
  background: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.contenedor {
  width: 100%;
  padding-top: 200px;
  flex: 1;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
}
header .anuncio {
  width: 100%;
  background: #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
  font-size: 1.4rem;
  padding: 0.7rem 0;
  font-weight: bold;
}
header .principal {
  background-color: #efefef;
}
header .principal .personal {
  width: 100%;
  max-width: 125rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  header .principal .personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 0.4rem;
  }
}
header .principal .personal .menu_mob {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  header .principal .personal .menu_mob {
    display: none;
  }
}
header .principal .personal .menu_mob .img_menu {
  width: 4rem;
}
header .principal .personal .registro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  header .principal .personal .registro {
    justify-content: flex-end;
    gap: 1rem;
  }
}
header .principal .personal .registro .login .a_login {
  font-size: 1.2rem;
}
header .principal .personal .registro .bolsa {
  position: relative;
}
header .principal .personal .registro .bolsa .img_bolsa {
  width: 3rem;
}
header .principal .personal .registro .bolsa .cant {
  position: absolute;
  width: 2rem;
  top: 1rem;
  right: 0.5rem;
  font-size: 1rem;
  text-align: center;
}
header .principal .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  header .principal .redes {
    grid-row: 1;
    justify-content: flex-start;
  }
}
header .principal .redes .img_red {
  width: 3rem;
}
header .logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #ffffff;
}
header .logo .img_logo {
  width: 24rem;
}
header .logo .menu_mob_x {
  position: absolute;
  right: 0;
  top: 0.5rem;
}
header .logo .menu_mob_x .img_menu_x {
  width: 5rem;
}
header .navbar {
  position: fixed;
  top: 0;
  left: -100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.8901960784);
  width: 100%;
  transition: left 0.3s ease;
}
@media screen and (min-width: 768px) {
  header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
    background-color: #ffffff;
    position: initial;
    min-height: auto;
  }
}
header .navbar .navbar_nav {
  overflow-y: auto;
}
header .navbar .navbar_nav .navbar_ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  header .navbar .navbar_nav .navbar_ul {
    flex-direction: row;
    gap: 3rem;
  }
}
header .navbar .navbar_nav .navbar_ul .navbar_li {
  border-bottom: 1px solid #2c2c2c;
  padding: 1rem;
  width: 100%;
}
header .navbar .navbar_nav .navbar_ul .navbar_li:hover .children_ul {
  display: flex;
}
@media screen and (min-width: 768px) {
  header .navbar .navbar_nav .navbar_ul .navbar_li {
    border-bottom: none;
    padding: 0;
  }
}
header .navbar .navbar_nav .navbar_ul .navbar_li .navbar_a {
  font-size: 1.3rem;
  color: #2c2c2c;
  text-transform: uppercase;
  display: block;
}
@media screen and (min-width: 768px) {
  header .navbar .navbar_nav .navbar_ul .navbar_li .navbar_a {
    padding: 0;
  }
}
header .navbar .navbar_nav .navbar_ul .navbar_li .children_ul {
  display: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  header .navbar .navbar_nav .navbar_ul .navbar_li .children_ul {
    display: none;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8901960784);
    position: absolute;
    min-width: 19rem;
    max-width: 36rem;
    padding: 1rem;
    z-index: 10;
    border-radius: 0px 0px 10px 10px;
  }
}
header .navbar .navbar_nav .navbar_ul .navbar_li .children_ul .children_li {
  border-bottom: 1px solid #c1c1c1;
  padding: 1rem;
  font-size: 1.1rem;
}
header .navbar .navbar_nav .navbar_ul .navbar_li .children_ul .children_li:hover {
  background: rgba(255, 255, 255, 0.8901960784);
}
@media screen and (min-width: 768px) {
  header .navbar .navbar_nav .navbar_ul .navbar_li .children_ul .children_li {
    border-bottom: none;
    padding: 0.8rem;
    border-bottom: 1px solid #2c2c2c;
  }
}
header .navbar .navbar_nav .navbar_ul .navbar_li .children_ul .children_li .children_a {
  font-size: 1.2rem;
  color: #2c2c2c;
  text-transform: uppercase;
  display: block;
}
@media screen and (min-width: 768px) {
  header .navbar .navbar_nav .navbar_ul .navbar_li .children_ul .children_li .children_a {
    padding: 0;
  }
}
header .search {
  display: flex;
  align-items: center;
}
header .search .inp_search {
  height: 30px;
  width: calc(100% - 50px);
  border: 1px solid #c1c1c1;
  padding: 4px;
  border-radius: 5px 0px 0px 5px;
  font-size: 12px;
}
header .search .btn_search {
  height: 30px;
  width: 50px;
  border-radius: 0px 5px 5px 0px;
  background-color: #c1c1c1;
  cursor: pointer;
  border: 1px solid #c1c1c1;
}
header .search .img_search {
  width: 25px;
}

footer {
  width: 100%;
  margin-top: 2%;
}
footer .redes_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
footer .redes_footer .img_red {
  width: 3rem;
}
footer .secciones {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  footer .secciones {
    flex-direction: row;
    justify-content: space-around;
  }
}
footer .secciones .seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .secciones .seccion h3 {
  font-size: 1.6rem;
  padding: 10px 0px;
  text-transform: uppercase;
  font-weight: normal;
}
footer .secciones .seccion li {
  padding: 5px 0px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
footer .secciones .seccion .tarjetas {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
footer .secciones .seccion .tarjetas .img_tarjeta {
  width: 5rem;
}
footer .secciones .seccion .logo {
  width: 100%;
  margin-bottom: 2rem;
}
footer .secciones .seccion .logo .img_logo {
  width: 10rem;
}
footer .mark {
  width: 100%;
  background-color: #2c2c2c;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .mark .a_mark {
  color: #ffffff;
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */