footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  .marq {
    background-color: $green_ll;
    color: $white;
    font-size: 0.8rem;
    padding: 0.3rem;
    text-align: center;
    text-transform: uppercase;
  }
}
